<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="pw-todo-item">
  <template>
    <style>
      :host {
        display: block;
      }

      :host([done]) {
        text-decoration: red line-through;
      }
    </style>
   <div>
     <input type="checkbox" checked="{{done::change}}">
     <span>[[value]]</span>
     <button on-click="_deleteHandler">x</button>
  </div>
  </template>

  <script>
    /**
     * `pw-todo-item`
     * Simple todo item
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PwTodoItem extends Polymer.Element {
      static get is() { return 'pw-todo-item'; }
      static get properties() {
        return {
          value: {
            type: String,
            reflectToAttribute: true
          },
          done: {
            type: Boolean,
            value: false,
            reflectToAttribute: true,
            notify: true,
            observer: '_fireCustomEvent'
          }
        };
      }

      _fireCustomEvent(newValue, oldValue) {
        const doneEvent = new CustomEvent('pw-todo-item-changed', {
          bubbles: true, // llega hasta los limites del shadow DOM
          composed: true, // pasa los limites de shadow DOM
          detail: newValue
        });

        this.dispatchEvent(doneEvent);
      }

      _deleteHandler(e) {
        const deleteEvent = new CustomEvent('pw-todo-item-delete', {
          bubbles: true,
          composed: true,
          detail: this.value
        });

        this.dispatchEvent(deleteEvent);
      }
    }

    window.customElements.define(PwTodoItem.is, PwTodoItem);
  </script>
</dom-module>
